<footer>
  <div class="container">

    <div class="row">
      <div class="col-lg-4 col-sm-8">
        <div class="footer-widget about-widget">
         <p style="text-align: center;">Toutes les droits sont réservé @2020</p>
        </div>
      </div>
      
      <div class="col-lg-4 col-sm-8">
        <div class="footer-widget about-widget">
         
          <div class="fw-latest-post-widget">
            <div class="lp-item">
              <div class="lp-thumb set-bg" data-setbg="img/blog-thumbs/1.jpg"></div>
              <div class="lp-content">
               
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-8">
        <div class="footer-widget contact-widget">
          <div class="con-info">
            
            
          </div>
          <div class="con-info">
         
          </div>
          <div class="con-info">
           
          </div>
          <div class="con-info">
          
            
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>